/* styles.css */
.search-field {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
}

#search-button {
    margin-left: 10px;
    background-color: blue;
    color: white;
}
#search-button:hover {
    background-color: lightblue;
}

/* Add this to your CSS */
.player-info-container {
    display: flex;
    align-items: center;
}

.player-image {
    max-width: 100px; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}

.edit-button {
    background-color: red;
    color: white;
    margin-left: auto;
}

.edit-button:hover {
    background-color: darkred;
}